.mb-0 {
    margin-bottom: 0 !important;
}
.table-outline {
    border: 1px solid #cfd8dc;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}
table {
    border-collapse: collapse;
    background-color: transparent;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #cfd8dc;
}

.thead-default th {
    color: #607d8b;
    background-color: #cfd8dc;
}

.text-muted {
    color: #b0bec5 !important;
}
