 <div class="col-md-12">
  <table  class="table table-hover table-outline mb-0 hidden-sm-down" style="margin-top: 22px;">
    <thead class="thead-default">
      <tr>
        <th style="width:10%"><i class="material-icons">format_list_bulleted</i></th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let items of pagedItems">
        <td>{{items.id}}</td>
        <td>{{items.name}}</td>
      </tr>
    </tbody>
  </table>
</div>
 <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Prev</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
            </ul>